.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.restart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restart button {
  width: 150px;
  height: 50px;
  background: #9c060c;

  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.restart button a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
